<%= @user.name%>
Thank you for registration
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi natus corrupti ab exercitationem eos impedit voluptate eligendi alias libero at optio molestiae, ad tenetur non hic quaerat dicta dolorum enim.</p>
